# Virtual environment
venv/

# Python caching
__pycache__/
*.pyc

# ML Models and Vectorizers (Large files)
*.pkl

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment variables
.env

# System files
.DS_Store
Thumbs.db

# IDE settings
.vscode/
.idea/

# Logs
*.log
